<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
</head>
<body>
    <h1>Server Side Javascript</h1>
    <ol>
        <% for(i=0;i<topics.length;i++) {%>
            <li><%= topics[i].title %> &nbsp;:&nbsp; <%= topics[i].description %></li>
            <% } %>
    </ol>
    <article>
        <form action="/topic/add" method="POST">
            <p><input type="text" name="title" value="고정" placeholder="제목"></p>
            <p><textarea type="text" name="description" placeholder="내용입력" cols="100"></textarea></p>
            <p><input type="text" name="author" placeholder="글쓴이"></p>
            <p><input type="submit"></p>
        </form>
    </article>
</body>
</html>